body {
  color: white;
  background: black;
  font-size: 14px; }

a {
  color: #4c4c4c;
  font-weight: 500; }
  a:hover {
    color: white; }

.menu-sns {
  display: flex;
  padding-top: 20px; }
  .menu-sns a {
    padding-right: 10px; }
    .menu-sns a .icon {
      display: inline-block;
      padding-right: 0;
      width: 30px;
      height: 30px; }
    .menu-sns a .icon-facebook {
      background: url("../img/facebook.png") no-repeat;
      background-size: cover; }
      .menu-sns a .icon-facebook:hover {
        background-position: -30px 0; }
    .menu-sns a .icon-twitter {
      background: url("../img/twitter.png") no-repeat;
      background-size: cover; }
      .menu-sns a .icon-twitter:hover {
        background-position: -30px 0; }
    .menu-sns a .icon-instagram {
      background: url("../img/instagram.png") no-repeat;
      background-size: cover; }
      .menu-sns a .icon-instagram:hover {
        background-position: -30px 0; }
    .menu-sns a .icon-youtube {
      background: url("../img/youtube.png") no-repeat;
      background-size: cover; }
      .menu-sns a .icon-youtube:hover {
        background-position: -30px 0; }
    .menu-sns a .icon-discord {
      background: url("../img/discord.png") no-repeat;
      background-size: cover; }
      .menu-sns a .icon-discord:hover {
        background-position: -30px 0; }

.desktop-menu {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: black; }
  .desktop-menu ul {
    max-width: 1000px;
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    height: 66px;
    padding-left: 0; }
    .desktop-menu ul .menu-logo-img {
      padding-top: 10px; }
  .desktop-menu .menu-list {
    padding-top: 25px;
    padding-bottom: 20px;
    cursor: pointer;
    text-transform: uppercase; }
    .desktop-menu .menu-list:hover {
      cursor: pointer;
      color: white;
      border-bottom: 2px solid white; }
    .desktop-menu .menu-list a:hover {
      color: white; }
  .desktop-menu .menu-logo-img img {
    width: 120px; }

.main-vid {
  visibility: hidden;
  height: 756px;
  width: 100%; }
  @media all and (min-width: 700px) {
    .main-vid {
      position: relative;
      visibility: visible;
      height: 553px; } }
  @media all and (min-width: 1000px) {
    .main-vid {
      width: 100%;
      height: 120vh; } }

.section1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%), url("../img/main-banner.jpg") no-repeat center top;
  background-size: cover;
  margin-top: 78px;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media all and (min-width: 700px) {
    .section1 {
      background-size: 145%;
      background: none;
      margin-top: 0px; } }
  @media all and (min-width: 900px) {
    .section1 {
      background-size: cover;
      padding-top: 100px; } }
  .section1 .top-play-btn {
    text-align: center; }
    .section1 .top-play-btn img {
      padding-top: 50px;
      -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.8));
      -webkit-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear; }
      @media all and (min-width: 700px) {
        .section1 .top-play-btn img {
          padding-top: 50px;
          width: 100px; } }
      .section1 .top-play-btn img:hover {
        -webkit-filter: drop-shadow(0px 0px 8px rgba(209, 225, 226, 0.9)); }
  .section1 .logo {
    text-align: center; }
    @media all and (min-width: 700px) {
      .section1 .logo {
        margin-top: 67px; } }
    .section1 .logo img {
      width: 250PX;
      margin-top: 30px; }
      @media all and (min-width: 500px) {
        .section1 .logo img {
          width: 350PX; } }
      @media all and (min-width: 700px) {
        .section1 .logo img {
          width: 250PX; } }
  .section1 .section1-content {
    margin: 0 auto;
    max-width: 1100px; }
  .section1 .top-banner-btn {
    text-align: center;
    padding-top: 80px; }
    @media all and (min-width: 500px) {
      .section1 .top-banner-btn {
        display: flex;
        margin: 0 auto;
        justify-content: center; } }
    @media all and (min-width: 700px) {
      .section1 .top-banner-btn {
        padding-top: 30px; } }
    .section1 .top-banner-btn .pre-register-btn {
      padding-top: 28px; }
    .section1 .top-banner-btn .pre-register-btn img,
    .section1 .top-banner-btn .google-btn img {
      width: 250px;
      margin: 0 20px; }
      @media all and (min-width: 700px) {
        .section1 .top-banner-btn .pre-register-btn img,
        .section1 .top-banner-btn .google-btn img {
          width: 200px; } }
    .section1 .top-banner-btn .pre-register-btn img:hover {
      cursor: pointer; }
    .section1 .top-banner-btn .google-btn {
      padding-top: 8px; }
  .section1 .mouse-ani {
    text-align: center;
    margin-top: 10px; }
    .section1 .mouse-ani img {
      width: 50px;
      animation: wiggle 1.5s infinite; }

.pre-register-container {
  margin-bottom: 25px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../img/bg-register.jpg") no-repeat center top;
  background-size: cover;
  font-family: 'Cormorant', serif; }
  @media all and (min-width: 700px) {
    .pre-register-container {
      margin-bottom: 55px; } }
  .pre-register-container .sub-text {
    font-size: 18px; }
  .pre-register-container .pre-regiter-header {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
    text-shadow: 2px 2px 5px darkslategrey; }
    .pre-register-container .pre-regiter-header h2 {
      font-size: 35px;
      font-weight: 300;
      margin: 0; }
      @media all and (min-width: 700px) {
        .pre-register-container .pre-regiter-header h2 {
          font-size: 50px; } }
    .pre-register-container .pre-regiter-header p {
      font-size: 18px;
      margin: 0; }
      @media all and (min-width: 700px) {
        .pre-register-container .pre-regiter-header p {
          font-size: 24px; } }
  .pre-register-container .container {
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 1px 4px 11px 2px rgba(0, 0, 0, 0.2); }
    @media all and (min-width: 700px) {
      .pre-register-container .container {
        display: flex; } }
  .pre-register-container .prize-image,
  .pre-register-container .prize-text,
  .pre-register-container .bonus-text {
    display: flex; }
  .pre-register-container .pre-register-btn02 {
    width: 260px;
    height: 66px;
    margin: 0 auto;
    background: url("../img/pre-regi-btn-default.png");
    background-size: contain;
    background-repeat: no-repeat; }
    .pre-register-container .pre-register-btn02:hover {
      cursor: pointer;
      background: url("../img/pre-regi-btn-hover.png");
      background-size: contain; }
  .pre-register-container .pre-register {
    padding: 30px 0;
    text-align: center;
    background: white; }
    .pre-register-container .pre-register p {
      color: #1d2333; }
  .pre-register-container .prize-container {
    display: flex;
    flex-wrap: wrap; }
    .pre-register-container .prize-container p {
      color: #1d2333;
      margin: 0 20px; }
    .pre-register-container .prize-container .prize-text {
      width: 100%;
      justify-content: space-between;
      margin: 0 15px;
      font-size: 14px;
      font-family: "Avenir Next", "Avenir", sans-serif; }
  .pre-register-container .prize-image {
    padding-left: 4%; }
  .pre-register-container .img-text {
    width: 300px; }
  .pre-register-container .div-line img {
    width: 300px; }
    @media all and (min-width: 700px) {
      .pre-register-container .div-line img {
        width: 400px; } }
  .pre-register-container .google-btn02 {
    padding-top: 20px; }
    .pre-register-container .google-btn02 img {
      width: 220px; }
  .pre-register-container .bonus {
    padding: 30px 0;
    text-align: center;
    background: rgba(40, 41, 46, 0.92); }
    .pre-register-container .bonus p {
      margin: 10px auto;
      padding: 0 10px;
      line-height: 24px;
      color: #cecece; }
  .pre-register-container .bonus-text {
    justify-content: space-around;
    width: 300px;
    margin: 0 auto;
    font-family: "Avenir Next", "Avenir", sans-serif; }
  .pre-register-container .bonus-image img {
    margin: 0 10px; }
  .pre-register-container .bonus-container {
    margin: 35px 0; }
  .pre-register-container .email-box {
    margin: 30px auto;
    width: 260px;
    background: #dee2ee; }
    .pre-register-container .email-box p {
      padding: 20px 0;
      color: #9aa0b1; }

.section2 {
  padding: 0 10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../img/bg2.jpg") no-repeat center top;
  background-size: 224% 50%; }
  @media all and (min-width: 500px) {
    .section2 {
      background-size: cover; } }
  @media all and (min-width: 1300px) {
    .section2 {
      height: 100vh; } }
  .section2 .title {
    margin-top: 63px;
    font-family: 'Cormorant', serif;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase; }
    @media all and (min-width: 400px) {
      .section2 .title {
        padding-top: 10px;
        margin-top: 10px;
        font-weight: 100; } }
    @media all and (min-width: 900px) {
      .section2 .title {
        font-weight: 100;
        margin-top: 0px; } }
    .section2 .title p {
      margin: 0;
      color: #C2AA3C;
      font-size: 18px; }
      @media all and (min-width: 700px) {
        .section2 .title p {
          font-size: 24px; } }
    .section2 .title P:nth-child(2) {
      margin-top: 5px; }
    .section2 .title span {
      color: white;
      font-size: 24px;
      letter-spacing: 2px;
      line-height: 24px; }
      @media all and (min-width: 500px) {
        .section2 .title span {
          font-size: 35px; } }
  .section2 .section2-content {
    min-width: 280px;
    padding-top: 230px; }
    @media all and (min-width: 400px) {
      .section2 .section2-content {
        padding-top: 454px; } }
    @media all and (min-width: 700px) {
      .section2 .section2-content {
        padding: 20px; } }
    @media all and (min-width: 900px) {
      .section2 .section2-content {
        max-width: 1000px;
        padding: 100px 0 150px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between; } }
    .section2 .section2-content h3 {
      font-weight: 300;
      margin: 0;
      font-size: 28px; }
    @media all and (min-width: 500px) {
      .section2 .section2-content p {
        font-size: 16px; } }
  .section2 .section2-content-in:nth-child(2) {
    margin-top: 60px; }
    @media all and (min-width: 800px) {
      .section2 .section2-content-in:nth-child(2) {
        margin-top: 0px; } }

.pre-section3 {
  background-position: 65% 0%;
  background-size: cover; }
  .pre-section3.idx-mage {
    background-image: url("../img/bg-mage.jpg");
    transition: background-image 300ms ease-in 200ms; }
  .pre-section3.idx-warrior {
    transition: background-image 300ms ease-in 200ms;
    background-image: url("../img/bg-warrior.jpg"); }
  .pre-section3.idx-rogue {
    transition: background-image 300ms ease-in 200ms;
    background-image: url("../img/bg-rouge.jpg"); }
  .pre-section3.idx-ranger {
    transition: background-image 300ms ease-in 200ms;
    background-image: url("../img/bg-ranger.jpg"); }

@media all and (min-width: 400px) {
  .pre-section3 {
    margin-bottom: 46px; } }
@media all and (min-width: 1000px) {
  .pre-section3 {
    margin-top: 0px; } }

.section3 {
  position: relative;
  padding-top: 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%); }
  @media all and (min-width: 500px) {
    .section3 {
      padding-bottom: 30px;
      padding-top: 100px;
      max-width: 1000px;
      margin: 0 auto; } }
  @media all and (min-width: 600px) {
    .section3 {
      padding-top: 90px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%); } }
  .section3 ul {
    list-style: none;
    display: flex; }
  .section3 .arrow-left,
  .section3 .arrow-right {
    position: absolute;
    height: 50vh;
    width: 15vw;
    opacity: 0.1;
    z-index: 10000;
    cursor: pointer;
    border-right: 0;
    border-left: 0; }
    .section3 .arrow-left:hover,
    .section3 .arrow-right:hover {
      opacity: 1; }
    .section3 .arrow-left img,
    .section3 .arrow-right img {
      padding-top: 40vh; }
  .section3 .arrow-right {
    left: 80%;
    opacity: 0.6; }
    @media all and (min-width: 500px) {
      .section3 .arrow-right {
        left: 80%; } }
    @media all and (min-width: 1100px) {
      .section3 .arrow-right {
        left: 85%; } }
  .section3 .desc {
    padding: 0 20px;
    margin-top: 150px; }
    @media all and (min-width: 700px) {
      .section3 .desc {
        margin-left: 0px;
        width: 700px;
        margin-top: 150px; } }
    @media all and (min-width: 900px) {
      .section3 .desc {
        margin-top: 55px;
        width: 400px; } }
  .section3 .icon-list {
    padding-left: 0; }
    .section3 .icon-list li {
      margin-right: 20px;
      height: 41px;
      width: 41px;
      background-size: cover; }
      .section3 .icon-list li.mage {
        background-image: url("../img/icon-mage.png"); }
        .section3 .icon-list li.mage.active {
          background-position: -44px 0; }
        .section3 .icon-list li.mage:hover {
          background-position: -44px 0;
          cursor: pointer; }
      .section3 .icon-list li.warrior {
        background-image: url("../img/icon-warrior.png"); }
        .section3 .icon-list li.warrior.active {
          background-position: -44px 0; }
        .section3 .icon-list li.warrior:hover {
          background-position: -44px 0;
          cursor: pointer; }
      .section3 .icon-list li.rogue {
        background-image: url("../img/icon-rogue.png"); }
        .section3 .icon-list li.rogue.active {
          background-position: -44px 0; }
        .section3 .icon-list li.rogue:hover {
          background-position: -44px 0;
          cursor: pointer; }
      .section3 .icon-list li.ranger {
        background-image: url("../img/icon-ranger.png"); }
        .section3 .icon-list li.ranger.active {
          background-position: -44px 0; }
        .section3 .icon-list li.ranger:hover {
          background-position: -44px 0;
          cursor: pointer; }

.play-btn-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  top: 12%;
  left: 38%; }
  .play-btn-container a .play-circle {
    width: 50px;
    height: 50px;
    background-image: url("../img/play-btn.png");
    background-position: 0 0;
    background-size: cover; }
    .play-btn-container a .play-circle:hover {
      background-position: -50px 0; }
  @media all and (min-width: 900px) {
    .play-btn-container {
      top: 35%;
      left: 57%; } }

.play-btn-container img:hover {
  transform: translate3d(-98px, 0px, 0px); }

.slick-slide {
  display: flex; }

.media-menu {
  padding: 0 20px;
  padding-top: 50px; }

.media-menu h2,
.classes h2 {
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'Cormorant', serif;
  letter-spacing: 4px;
  font-size: 18px; }

.classes h2 {
  padding-top: 0px;
  padding-left: 20px; }
  @media all and (min-width: 800px) {
    .classes h2 {
      padding-top: 56px; } }
.classes h3 {
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 0;
  font-style: italic;
  font-family: 'Cormorant', serif; }
  @media all and (min-width: 500px) {
    .classes h3 {
      font-size: 60px; } }
.classes h4 {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 25px 0;
  font-family: 'Cormorant', serif; }
.classes p {
  font-size: 14px;
  line-height: 20px; }
  @media all and (min-width: 500px) {
    .classes p {
      font-size: 16px;
      line-height: 24px; } }

.section2-left h3 {
  color: #ee1c00; }

.section2-right h3 {
  color: #00a8ff; }

.section4,
.media {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.1) 10%), url("../img/bg-media.jpg") repeat center top;
  background-size: cover;
  padding-top: 2px;
  padding-bottom: 25px;
  margin-top: 30px; }
  @media all and (min-width: 900px) {
    .section4,
    .media {
      margin-top: 65px; } }
  @media all and (min-width: 500px) {
    .section4 .media-menu,
    .media .media-menu {
      display: flex;
      justify-content: space-between;
      max-width: 1100px;
      margin: 0 auto; } }
  .section4 .media-tab,
  .media .media-tab {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 0 10px; }
    @media all and (min-width: 500px) {
      .section4 .media-tab,
      .media .media-tab {
        padding-top: 10px; } }
    .section4 .media-tab li,
    .media .media-tab li {
      font-size: 14px;
      color: #5c6673; }
      .section4 .media-tab li span,
      .media .media-tab li span {
        padding: 0 20px; }
    .section4 .media-tab li:hover,
    .media .media-tab li:hover {
      color: white; }
      .section4 .media-tab li:hover span,
      .media .media-tab li:hover span {
        color: #5c6673; }
  .section4 .cell,
  .media .cell {
    padding: 10px 10px; }
    @media all and (min-width: 700px) {
      .section4 .cell,
      .media .cell {
        padding: 0 10px; } }
  .section4 .media-thumb img,
  .media .media-thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  @media all and (min-width: 700px) {
    .section4 .media-thumb,
    .media .media-thumb {
      background-color: white; } }
  .section4 .media-thumb:nth-child(2),
  .media .media-thumb:nth-child(2) {
    margin: 0 10px; }
  .section4 .hide,
  .media .hide {
    display: none; }
  .section4 .media-tab li a.active,
  .media .media-tab li a.active {
    color: white; }
  .section4 .play-circle-outer,
  .media .play-circle-outer {
    position: relative;
    top: -150px; }
    .section4 .play-circle-outer .play-circle,
    .media .play-circle-outer .play-circle {
      width: 50px;
      height: 50px;
      background-image: url("../img/play-btn.png");
      background-position: 0 0;
      background-size: cover;
      margin: -40px auto 0; }
      .section4 .play-circle-outer .play-circle:hover,
      .media .play-circle-outer .play-circle:hover {
        background-position: -50px 0; }

footer {
  background-color: white;
  color: #949494;
  text-align: center;
  justify-content: center;
  padding-top: 40px; }
  @media all and (min-width: 700px) {
    footer {
      height: 20vh;
      display: flex; } }
  footer .footer-logo-container {
    display: flex;
    justify-content: center; }
    @media all and (min-width: 700px) {
      footer .footer-logo-container {
        max-width: 263px; } }
    footer .footer-logo-container .goboogie-con {
      width: 50%; }
    footer .footer-logo-container .nj-con {
      width: 41%; }
  footer p {
    font-size: 14px;
    padding: 20px;
    margin: 0 !important; }
    @media all and (min-width: 700px) {
      footer p {
        text-align: left;
        padding: 0 20px 0 10px; } }
  footer .g-logo, footer .nj-logo {
    width: 100%; }
  footer .g-logo {
    padding: 0 20px 0 10px; }
  footer .nj-logo {
    padding: 0 10px 0 20px; }

@keyframes wiggle {
  0% {
    -webkit-transform: translate(0, 5px); }
  65% {
    -webkit-transform: translate(0, -5px); }
  100% {
    -webkit-transform: translate(0, 5px); } }
@keyframes slidedown {
  from {
    margin-top: -50%;
    width: 300%; }
  to {
    margin-bottom: 0%;
    width: 100%; } }
.class-content:focus, .slick-list:focus, .slick-track:focus, a:focus, .section3:focus {
  outline: 0 !important; }

.video-container {
  width: 90vw;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  @media all and (min-width: 600px) {
    .video-container {
      width: 600px; } }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=style.css.map */
