body {
    // font-family: 'Helvetica','Roboto', sans-serif;
    color: white; // background: #0a0809;
    background: black;
    font-size: 14px;
}

a {
    color: #4c4c4c;
    font-weight: 500;
    &:hover {
        color: white;
    }
}

.menu-sns {
    display: flex; // padding-top: 0px;
    padding-top: 20px;
    a {
        padding-right: 10px;
        .icon {
            display: inline-block;
            padding-right: 0;
            width: 30px;
            height: 30px;
        }
        .icon-facebook {
            background: url("../img/facebook.png") no-repeat;
            background-size: cover;
            &:hover {
                background-position: -30px 0;
            }
        }
        .icon-twitter {
            background: url("../img/twitter.png") no-repeat;
            background-size: cover;
            &:hover {
                background-position: -30px 0;
            }
        }
        .icon-instagram {
            background: url("../img/instagram.png") no-repeat;
            background-size: cover;
            &:hover {
                background-position: -30px 0;
            }
        }
        .icon-youtube {
            background: url("../img/youtube.png") no-repeat;
            background-size: cover;
            &:hover {
                background-position: -30px 0;
            }
        }
        .icon-discord {
            background: url("../img/discord.png") no-repeat;
            background-size: cover;
            &:hover {
                background-position: -30px 0;
            }
        }
    }
}

.desktop-menu {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: black;
    ul {
        max-width: 1000px;
        list-style: none;
        display: flex; // max-width: 1100px;
        margin: 0 auto;
        justify-content: space-around;
        height: 66px;
        padding-left: 0;
        .menu-logo-img {
            padding-top: 10px;
        }
    }
    .menu-list {
        padding-top: 25px;
        padding-bottom: 20px;
        cursor: pointer;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
            color: white;
            border-bottom: 2px solid white;
        }
        a:hover {
            color: white;
        }
    }
    .menu-logo-img img {
        width: 120px;
    }
}

.main-vid {
    visibility: hidden;
    height: 756px;
    width: 100%;
    @media all and (min-width: 700px) {
        position: relative;
        visibility: visible;
        height: 553px;
    }
    @media all and (min-width:750px) {}
    @media all and (min-width: 1000px) {
        width: 100%;
        height: 80vh;
    }
}

.section1 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%), url("../img/main-banner.jpg") no-repeat center top; // background-size: contain, 11rem 26rem, cover;
    background-size: contain, 51rem 28rem;
    margin-top: 78px;
    position: absolute;
    top: 0;
    @media all and (min-width: 700px) {
        background-size: 145%;
        background: none;
        margin-top: 0px; // height: 85vh;
    }
    @media all and (min-width: 900px) {
        background-size: cover; // height: 100vh;
        padding-top: 100px;
    }
    width: 100%; // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .top-play-btn {
        text-align: center;
        img {
            padding-top: 50px;
            -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.80));
            -webkit-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
            @media all and (min-width: 700px) {
                padding-top: 20px;
                width: 100px;
            }
            &:hover {
                -webkit-filter: drop-shadow(0px 0px 8px rgba(209, 225, 226, 0.9));
            }
        }
    }
    .logo {
        text-align: center;
        @media all and (min-width: 700px) {
            // margin-top: 67px;
        }
        img {
            width: 250PX;
            margin-top: 30px;
            @media all and (min-width: 500px) {
                width: 350PX;
            }
            @media all and (min-width: 700px) {
                width: 269PX;
                margin-top: 89px;
            }
            @media all and (min-width: 900px) {
                width: 260PX;
                margin-top: 0px;
            }
        }
    }
    .section1-content {
        margin: 0 auto;
        max-width: 1100px;
    } // .top-banner-btn,
    // .logo {
    //     animation-duration: 2s;
    //     animation-name: slidedown;
    // }
    .top-banner-btn {
        text-align: center;
        padding-top: 80px;
        @media all and (min-width: 500px) {
            display: flex;
            margin: 0 auto;
            justify-content: center;
        }
        @media all and (min-width: 700px) {
            padding-top: 30px;
        }
        .pre-register-btn {
            padding-top: 28px;
        }
        .pre-register-btn img,
        .google-btn img {
            width: 250px;
            margin: 0 20px; // @media all and (min-width: 700px) {
            //     width: 200px;
            // }
        }
        .pre-register-btn img {
            &:hover {
                cursor: pointer;
            }
        }
        .google-btn {
            padding-top: 8px;
        }
    }
    .mouse-ani {
        text-align: center;
        margin-top: 10px;
        img {
            width: 50px;
            animation: wiggle 1.5s infinite;
        }
    }
}

.pre-register-container {
    margin-bottom: 25px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../img/bg-register.jpg") no-repeat center top; // background-size: contain, 11rem 26rem, cover;
    background-size: cover;
    font-family: 'Cormorant', serif;
    @media all and (min-width: 700px) {
        padding-bottom: 55px; // height: 100vh;
    }
    .sub-text {
        font-size: 18px;
    }
    .pre-regiter-header {
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
        padding: 50px 0;
        text-shadow: 2px 2px 5px darkslategrey;
        h2 {
            font-size: 35px;
            font-weight: 300;
            margin: 0;
            @media all and (min-width: 700px) {
                font-size: 50px;
            }
        }
        p {
            font-size: 18px;
            margin: 0;
            @media all and (min-width: 700px) {
                font-size: 24px;
            }
        }
    }
    .container {
        max-width: 1000px;
        margin: 0 auto;
        box-shadow: 1px 4px 11px 2px rgba(0, 0, 0, .2);
        @media all and (min-width: 700px) {
            display: flex;
        }
    }
    .prize-image,
    .prize-text,
    .bonus-text {
        display: flex;
    }
    .pre-register-btn02 {
        width: 260px;
        height: 66px;
        margin: 0 auto;
        background: url('../img/pre-regi-btn-default.png');
        background-size: contain;
        background-repeat: no-repeat;
        &:hover {
            cursor: pointer;
            background: url('../img/pre-regi-btn-hover.png');
            background-size: contain;
        }
        @media all and (min-width: 700px) {
            // 700px dont work?????
            // width: 400px;
            // height: 99px;
        }
    }
    .pre-register {
        padding: 30px 0;
        text-align: center;
        p {
            color: #1d2333;
        }
    }
    .prize-container {
        display: flex;
        flex-wrap: wrap;
        p {
            color: #1d2333;
            margin: 0 20px; // width: 30%;
        }
        .prize-text {
            width: 100%;
            justify-content: space-between;
            margin: 0 15px;
            font-size: 14px;
            font-family: "Avenir Next", "Avenir", sans-serif;
        }
    }
    .prize-image {
        padding-left: 4%;
        img {
            // width: 100px;
            // height: 110px;
            // width: 40%;
            @media all and (min-width: 700px) {
                // width: 150px;
                // height: 150px;
            }
        }
    }
    .img-text {
        width: 300px;
    }
    .div-line img {
        width: 300px;
        @media all and (min-width: 700px) {
            width: 400px;
        }
    }
    .google-btn02 {
        padding-top: 20px;
        img {
            width: 220px;
        }
    }
    .bonus {
        padding: 30px 0;
        text-align: center;
        @media all and (min-width: 700px) {
            padding: 22px 0;
            // width: 50%;
        }
        p {
            margin: 10px auto;
            padding: 0px 20px;
            line-height: 20px;
            color: #cecece;
            @media all and (min-width: 700px) {
                // width: 400px;
            }
        }
    }
    .bonus-text {
        width: 450px;
        margin: 0 auto;
        font-family: "Avenir Next", "Avenir", sans-serif;
        p{
            width: 150px;
        }
    }
    .bonus-image img {
        margin: 0 10px;
    }
    .bonus-container {
        margin: 35px 0;
    }
    .email-box {
        margin: 30px auto;
        margin-top: 65px;
        width: 260px;
        background: #dee2ee;
        @media all and (min-width: 700px) {
            // 700px dont wokr?
            // width: 400px;
        }
        p {
            padding: 20px 0;
            color: #9aa0b1;
        }
    }
}

.section2 {
    // background-size: 356%;
    padding: 0 10px; // height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../img/bg2.jpg") no-repeat center top;
    background-size: 215% 50%;
    @media all and (min-width: 500px) {
        background-size: cover;
    }
    @media all and (min-width: 1300px) {
        height: 100vh;
    }
    .title {
        margin-top: 63px;
        font-family: 'Cormorant', serif;
        font-weight: 300; // padding-top: 40px;
        text-align: center;
        text-transform: uppercase;
        @media all and (min-width: 400px) {
            padding-top: 10px;
            margin-top: 10px;
            font-weight: 100;
        }
        @media all and (min-width: 900px) {
            // padding-top: 0px;
            font-weight: 100;
            margin-top: 0px;
        }
        p {
            margin: 0;
            color: #C2AA3C;
            font-size: 18px;
            @media all and (min-width: 700px) {
                font-size: 24px;
            }
        }
        P:nth-child(2) {
            margin-top: 5px;
        }
        span {
            color: white;
            font-size: 24px;
            letter-spacing: 2px;
            line-height: 24px;
            @media all and (min-width: 500px) {
                font-size: 35px;
            }
        }
    }
    .section2-content {
        min-width: 280px; // padding-top: 422px;
        padding-top: 230px;
        @media all and (min-width: 400px) {
            padding-top: 454px;
        }
        @media all and (min-width: 700px) {
            // padding-top: 300px;
            padding: 20px;
        }
        @media all and (min-width: 900px) {
            max-width: 1000px;
            padding: 100px 0 150px 0;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
        h3 {
            font-weight: 300;
            margin: 0;
            font-size: 28px; // font-family: 'Cormorant', serif;
        }
        p {
            @media all and (min-width: 500px) {
                font-size: 16px;
            }
        }
    }
    .section2-content-in {
        @media all and (min-width: 800px) {
            // width: 30%;
        }
    }
    .section2-content-in:nth-child(2) {
        margin-top: 60px;
        @media all and (min-width: 800px) {
            margin-top: 0px;
        }
    }
}

.pre-section3 {
    background-position: 65% 0%;
    background-size: cover;
    &.idx-mage {
        // background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../img/bg-mage.jpg") no-repeat center top; // background-size: contain, 11rem 26rem, cover;
        background-image: url("../img/bg-mage.jpg");
        transition: background-image 300ms ease-in 200ms;
    }
    &.idx-warrior {
        transition: background-image 300ms ease-in 200ms;
        background-image: url("../img/bg-warrior.jpg");
    }
    &.idx-rogue {
        transition: background-image 300ms ease-in 200ms;
        background-image: url("../img/bg-rouge.jpg");
    }
    &.idx-ranger {
        transition: background-image 300ms ease-in 200ms;
        background-image: url("../img/bg-ranger.jpg");
    }
}

.pre-section3 {
    // margin-bottom: 200px;
    @media all and (min-width: 400px) {
        margin-bottom: 46px;
    }
    @media all and (min-width: 700px) {
        // margin-top: 173px;
    }
    @media all and (min-width: 1000px) {
        margin-top: 0px;
    }
}

.section3 {
    position: relative; // margin-top: 450px;
    padding-top: 30px; // height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .95) 100%);
    @media all and (min-width: 500px) {
        padding-bottom: 30px;
        padding-top: 100px;
        max-width: 1000px;
        margin: 0 auto;
    }
    @media all and (min-width: 600px) {
        padding-top: 90px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
    }
    ul {
        list-style: none;
        display: flex;
    }
    .character-mage {
        // background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../img/bg-mage.jpg") no-repeat center top; // background-size: contain, 11rem 26rem, cover;
    }
    .arrow-left,
    .arrow-right {
        position: absolute;
        height: 50vh;
        width: 15vw;
        opacity: 0.1;
        z-index: 10000;
        cursor: pointer;
        border-right: 0;
        border-left: 0;
        &:hover {
            opacity: 1;
        }
        img {
            padding-top: 30vh;
        }
    }
    .arrow-right {
        left: 80%;
        opacity: 0.6;
        @media all and (min-width: 500px) {
            left: 80%;
        }
        @media all and (min-width: 1100px) {
            left: 85%;
        }
    }
    .desc {
        padding: 0 20px;
        margin-top: 150px;
        @media all and (min-width: 700px) {
            margin-left: 0px;
            width: 700px; // margin-top: 405px;
            margin-top: 150px;
        }
        @media all and (min-width: 900px) {
            margin-top: 55px;
            width: 400px;
        }
    }
    .icon-list {
        padding-left: 0;
        li {
            margin-right: 20px;
            height: 41px;
            width: 41px;
            background-size: cover;
            &.mage {
                background-image: url("../img/icon-mage.png");
                &.active {
                    background-position: -44px 0;
                }
                &:hover {
                    background-position: -44px 0;
                    cursor: pointer;
                }
            }
            &.warrior {
                background-image: url("../img/icon-warrior.png");
                &.active {
                    background-position: -44px 0;
                }
                &:hover {
                    background-position: -44px 0;
                    cursor: pointer;
                }
            }
            &.rogue {
                background-image: url("../img/icon-rogue.png");
                &.active {
                    background-position: -44px 0;
                }
                &:hover {
                    background-position: -44px 0;
                    cursor: pointer;
                }
            }
            &.ranger {
                background-image: url("../img/icon-ranger.png");
                &.active {
                    background-position: -44px 0;
                }
                &:hover {
                    background-position: -44px 0;
                    cursor: pointer;
                }
            }
        }
    }
}

.play-btn-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    top: 12%;
    left: 38%;
    a .play-circle {
        width: 50px;
        height: 50px;
        background-image: url("../img/play-btn.png");
        background-position: 0 0;
        background-size: cover;
        &:hover {
            background-position: -50px 0;
        }
    }
    @media all and (min-width: 900px) {
        top: 35%;
        left: 57%;
    }
}

.play-btn-container img:hover {
    transform: translate3d( -98px, 0px, 0px);
}

.slick-slide {
    display: flex;
}

.media-menu {
    padding: 0 20px;
    padding-top: 50px;
}

.media-menu h2,
.classes h2 {
    // border-bottom: 2px solid #C2AA3C;
    // width: 70px;
    // padding-bottom: 15px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Cormorant', serif;
    letter-spacing: 4px;
    font-size: 18px; // color: #C2AA3C;
    // text    // @media all and (min-width: 800px) {
    //     text-align:left;
    // }-align: center;
}

.classes {
    h2 {
        padding-top: 0px;
        padding-left: 20px;
        @media all and (min-width: 800px) {
            padding-top: 56px;
        }
    }
    h3 {
        font-size: 50px;
        margin-bottom: 0px;
        margin-top: 0;
        font-style: italic;
        font-family: 'Cormorant', serif;
        @media all and (min-width: 500px) {
            font-size: 60px;
        }
    }
    h4 {
        font-size: 24px;
        font-weight: 300;
        margin: 0 0 25px 0;
        font-family: 'Cormorant', serif;
    }
    p {
        font-size: 14px;
        line-height: 20px;
        @media all and (min-width: 500px) {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.section2-left h3 {
    color: #ee1c00;
}

.section2-right h3 {
    color: #00a8ff;
}

.section4 {}

.section4,
.media {
    // height: 75vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.1) 10%), url("../img/bg-media.jpg") repeat center top; // background-size: contain, 11rem 26rem, cover;
    background-size: cover;
    padding-top: 2px;
    padding-bottom: 25px;
    margin-top: 30px;
    @media all and (min-width: 900px) {
        // height: 85vh;
        margin-top: 65px; // margin-bottom: 25px;
    }
    .media-menu {
        @media all and (min-width: 500px) {
            display: flex;
            justify-content: space-between;
            max-width: 1100px;
            margin: 0 auto;
        }
    }
    .media-tab {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        padding: 0 10px;
        @media all and (min-width: 500px) {
            padding-top: 10px;
        }
        li {
            font-size: 14px;
            color: #5c6673;
            span {
                padding: 0 20px;
            }
        }
        li:hover {
            color: white;
            span {
                color: #5c6673;
            }
        }
    }
    .cell {
        padding: 10px 10px;
        @media all and (min-width: 700px) {
            padding: 0 10px;
        }
    }
    .media-thumb img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .media-thumb {
        // width: 300px;
        @media all and (min-width: 700px) {
            background-color: white; // width: 350px;
            // height: 260px;
        }
    }
    .media-thumb:nth-child(2) {
        margin: 0 10px;
    }
    .hide {
        display: none;
    }
    .media-tab li a.active {
        color: white;
    }
    .play-circle-outer {
        position: relative;
        top: -150px;
        .play-circle {
            width: 50px;
            height: 50px;
            background-image: url("../img/play-btn.png");
            background-position: 0 0;
            background-size: cover;
            margin: -40px auto 0;
            &:hover {
                background-position: -50px 0;
            }
        }
    }
}

.media-thumb-container {
    @media all and (min-width: 900px) {
        max-width: 1200px;
        margin: 0 auto;
    }
    .grid-x {
        text-align: center;
    }
    .grid-x:first-child {
        @media all and (min-width: 700px) {
            margin-bottom: 20px;
        }
    }
}

footer {
    background-color: white;
    color: #949494; // height: 30vh;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    @media all and (min-width: 700px) {
        height: 20vh;
        display: flex;
    }
    .footer-logo-container {
        display: flex;
        justify-content: center; // margin-bottom: 20px;
        @media all and (min-width: 700px) {
            max-width: 263px;
        }
        .goboogie-con {
            width: 50%;
        }
        .nj-con {
            width: 41%;
        }
    }
    p {
        font-size: 14px;
        padding: 20px;
        margin: 0 !important;
        @media all and (min-width: 700px) {
            text-align: left;
            padding: 0 20px 0 10px;
        }
    }
    .g-logo,
    .nj-logo {
        width: 100%;
    }
    .g-logo {
        padding: 0 20px 0 10px;
    }
    .nj-logo {
        padding: 0 10px 0 20px;
    }
} // Key frames for animation
@keyframes wiggle {
    0% {
        -webkit-transform: translate(0, 5px)
    }
    65% {
        -webkit-transform: translate(0, -5px)
    }
    100% {
        -webkit-transform: translate(0, 5px)
    }
}

@keyframes slidedown {
    from {
        margin-top: -50%;
        width: 300%;
    }
    to {
        margin-bottom: 0%;
        width: 100%;
    }
}

.class-content:focus,
.slick-list:focus,
.slick-track:focus,
a:focus,
.section3:focus {
    outline: 0 !important;
}

// Responsive youtube video
.video-container {
    width: 90vw;
    @media all and (min-width: 600px) {
        width: 600px;
    }
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.featherlight-content.ty-email {
    width: 90%;
    height: 350px;
    @media all and (min-width: 600px) {
        width: 50%;
    }
    .thankyou-logo{
        text-align: center;
        margin: 20px 0 20px 0;
    }
    .bar{
        width: 162px;
        height: 3px;
       background: #7f7f7f;
       margin: 20px auto;

    }
    h2 {
        color: #1a1a1a;
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
    }
    p {
        color: #7f7f7f;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }
    span {
        font-weight: 500;
    }
}

.white-container{
    background: white;
}

.black-container{
    background: rgba(40, 41, 46, 0.92);
}
